header.main-header {
  width: 100%;
  display: flex;
  padding: 10px 15px;
  box-shadow: 1px 5px 15px #81818129;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; 
  background-color: black;
}

ul.navbar {
    list-style: none;
    display: flex;
}

ul.navbar li {
    margin-right: 10px;
    margin-left: 10px;
}

.container-logo {
  width: 80px;
}

.container-logo img {
  width: 100%;
}

.product-item{
  float: left;
  border: 1px solid #ababab;
  width: 285px;
  height: 500px;
  margin-top: 20px;
  margin-left: 25px;
  box-shadow: 1px 1px 5px #0000002b;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  text-align: center;
  display: grid;
  grid-row: auto;  
}
.count-container__contador {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  width: 140px;
  height: 50px;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 40px auto 0;
}

.count-container__button {
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  transition: all 250ms ease-out;
}

.count-container__button:hover {
  border: none;
  color: var(--just-white);
  background-color: var(--primary-color);
}

.count-container__button {
  color: var(--border-color);
  background-color: transparent;
  border: 1px solid var(--border-color);
}

.count-container__qty {
  height: 100%;
  padding-top: 10px;
  color: var(--primary-color);
  background-color: var(--just-white);
} 

h2{
  text-decoration: underline;
}

